<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @rdvm.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @rdvm.last_name %>
</p>

<p>
  <strong>Clinic name:</strong>
  <%= @rdvm.clinic_name %>
</p>

<p>
  <strong>Clinic address:</strong>
  <%= @rdvm.clinic_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @rdvm.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @rdvm.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @rdvm.zip %>
</p>

<p>
  <strong>Pref contact:</strong>
  <%= @rdvm.pref_contact %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @rdvm.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rdvm.email %>
</p>

<p>
  <strong>User:</strong>
  <%= @rdvm.user_id %>
</p>

<%= link_to 'Edit', edit_rdvm_path(@rdvm) %> |
<%= link_to 'Back', rdvms_path %>
